p {
  font-family: Arial;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
}

.red {
  font-style: italic;
  color: rgb(185, 89, 52);
  font-size: 20px;
}